<div class="ui fixed inverted menu compact orange">
  <div class="ui container">

    <a href="/" class="header item">nootrate</a>
    <a class='item' href='/subjects' title='subjects'>Subjects</a>
    <a class='item' href='/tags' title='tags'>Tags</a>
    <!--<a class='item' href='/ratings' title='ratings'>Ratings</a>-->

    <div class="right menu">

    <a class='item' href='/subjects/new' title='tags'>+subject</a>
    <a class='item' href='/tags/new' title='tags'>+tag</a>

      <% if defined?(Devise) %>
      <% if user_signed_in? %>
        <%= link_to "Edit account".html_safe, edit_user_registration_path, class: 'item' %>
        <%= link_to "Sign out".html_safe, destroy_user_session_path, class: 'item', method: :delete %>
      <% else %>
        <%= link_to "Login".html_safe, new_user_session_path, class: 'item' %>
        <%= link_to "Sign up".html_safe, new_user_registration_path, class: 'item' %>
      <% end %>
      <% end %>

        <form class="ui search item" action="/search/" method="get">
          <div class="ui icon input mini">
            <input class="prompt" type="text" name="search" id="search" placeholder="Search...">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </form>
    
    </div>

  </div>
</div>